# AWS / GCP / Kubernetes
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
K3S_API_URL=https://localhost:6443
K3S_TOKEN=
TARGET_DEPLOYMENT=web-app
TARGET_NAMESPACE=default
KUBECONFIG=

# Prometheus
PROMETHEUS_URL=http://localhost:9090

# Firebase
FIREBASE_SA_PATH=firebase-service-account.json
FIREBASE_DB_URL=
FIREBASE_PROJECT_ID=

# GCP
GCP_PROJECT_ID=
GCP_REGION=us-central1
